.button {
  padding: 1rem 1.5rem;
  background: var(--color-neon);
  cursor: pointer;
  border: none;
  color: var(--color-burgundy);
  font-size: var(--font-size-small);
  text-transform: uppercase;

  &:disabled {
    opacity: 0.5;
  }
}
.primary {
  background: var(--color-neon);
  color: var(--color-burgundy);

  &:hover {
    background: color-mix(in oklab, var(--color-neon), white 20%);
  }
}
.secondary {
  background: white;
  color: var(--color-burgundy);
  border: 1px solid;

  &:hover {
    background: var(--color-light-pink);
  }
}
