.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem auto;
  height: 100%;
  flex: 1;
}

.button {
  padding: 0.5rem 1rem;
}

.submissionContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submission {
  margin: 0;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid;
  text-decoration: none;
  color: inherit;
}

.status {
  font-weight: bold;
  text-transform: capitalize;
}

.id {
  color: #555;
}

.createdAt {
  font-size: 0.85rem;
  color: #888;
}
