:root {
  --color-pink: #ff98a4;
  --color-burgundy: #6b1f2c;
  --color-green: #06332b;
  --color-surface-green: var(--color-green);
  --color-light-green: #cadcd9;
  --color-lighter-green: #f6fffe;
  --color-neon: #ebff00;
  --color-light-pink: #faf0f2;
  --color-orange: rgb(218, 116, 22);
  --color-light-orange: rgb(247, 160, 79);

  --color-text-primary: #1b1b1b;

  --font-size-base: 1rem;
  --font-size-small: 0.85rem;
  --font-size-xsmall: 0.75rem;
  --font-size-large: 1.25rem;

  font-size: var(--font-size-base);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color-scheme: light;
  color: var(--color-text-primary);
  background: var(--color-pink);
  font-synthesis: none;
}

* {
  box-sizing: border-box;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: var(--font-size-large);
  color: var(--color-burgundy);
  font-weight: normal;
}
